{% extends 'base.html.twig' %}

{% block title %}Hello PackageController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1 class="text-center">Package</h1>
        <p class="text-center py-1"><em> To create a new package, access the view page of a
                <a href="{{ path('app_business') }}">business</a>.</em></p>
        <div class="d-flex justify-content-center">
            <table class="table table-striped">
                <thead>
                <tr class="table-primary">
                    <th class="text-center px-3">Actions</th>
                    <th class="text-center px-3">Id</th>
                    <th class="text-center px-3">Name</th>
                    <th class="text-center px-3">Description</th>
                    <th class="text-center px-3">Price</th>
                    <th class="text-center px-3">Photo</th>
                    <th class="text-center px-3 text-nowrap">Created At</th>
                    <th class="text-center px-3">Category</th>
                    <th class="text-center px-3">Business</th>
                </tr>
                </thead>
                <tbody>
                {% for package in packages %}
                    <tr class="table-secondary">
                        <td class="align-middle px-3">
                            <form action="{{ path('app_package_delete',{
                                "id": package.id}
                            ) }}" method="post">
                                <div class="btn-group">
                                    <a class="btn btn-primary" href="{{ path("app_package_update", {
                                        "id": package.id}) }}">
                                        Update
                                    </a>
                                    <a class="btn btn-secondary" href="{{ path("app_package_view", {
                                        "id": package.id}) }}">
                                        View
                                    </a>
                                    <button class="btn btn-danger" type="submit">Delete</button>
                                </div>
                            </form>
                        </td>
                        <td class="text-center px-3 align-middle">
                            {{ package.id }}
                        </td>
                        <td class="text-center px-3 align-middle">
                            {{ package.name }}
                        </td>
                        <td class="text-center px-3 align-middle">
                            {{ package.description }}
                        </td>
                        <td class="text-center px-3 align-middle">
                            {{ package.price }}
                        </td>
                        <td class="text-center px-3 align-middle">
                            {% if package.photo %}
                                {{ package.photo }}
                            {% else %}
                                No photo
                            {% endif %}
                        </td>
                        <td class="text-center px-3 align-middle">
                            {{ package.createdAt|date('Y-m-d H:i:s') }}
                        </td>
                        <td class="text-center px-3 align-middle">
                            <a href="{{ path('app_category_view',{
                                'id' : package.category.id
                            }) }}">
                                {{ package.category.name }}
                            </a>
                        </td>
                        <td class="text-center px-3 align-middle">
                            <a href="{{ path('app_business_view',{
                                'id' : package.business.id
                            }) }}">
                                {{ package.business.name }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
