{% extends 'base.html.twig' %}

{% block title %}Hello PackageController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1 class="text-center">Package</h1>
        {% if is_granted('ROLE_BUSINESS') %}
            <p class="text-center py-1"><em> To create a new package, access the view page of a
                    <a href="{{ path('app_business') }}">business</a>.</em></p>
        {% endif %}
        <p>
            {{ form_start(form) }}
            {{ form_end(form) }}
        </p>
        <div class="d-flex justify-content-center">
            <div class="container">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                    {% for package in packages %}
                        <div class="col">
                            <div class="card h-100">
                                <img src="{{ package.photo ? package.photo : asset('spaghetti.jpg') }}"
                                     class="card-img-top"
                                     alt="Default image"
                                     style="width: 100%; height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5 class="card-title">{{ package.name }}</h5>
                                    <p class="card-text">{{ package.price }} RON</p>
                                    <form action="{{ path('app_package_delete',{
                                        "id": package.id}
                                    ) }}" method="post">
                                        <div class="btn-group">
                                            {% if is_granted('ROLE_CONSUMER') %}
                                                {% if package.isAvailable %}
                                                    <a class="btn btn-primary" href="{{ path("app_order_new_specific", {
                                                        "id": app.user.consumer.id,
                                                        "p_id" : package.id}) }}">
                                                        Order
                                                    </a>
                                                {% endif %}
                                                <a class="btn btn-secondary" href="{{ path("app_package_view", {
                                                    "id": package.id}) }}">
                                                    Details
                                                </a>
                                            {% elseif is_granted('ROLE_ADMIN') %}
                                                <a class="btn btn-primary" href="{{ path("app_package_update", {
                                                    "id": package.id}) }}">
                                                    Update
                                                </a>
                                                <a class="btn btn-secondary" href="{{ path("app_package_view", {
                                                    "id": package.id}) }}">
                                                    View
                                                </a>
                                                <button class="btn btn-danger" type="submit">Delete</button>
                                            {% else %}
                                                {% if (app.user.business == package.business) %}
                                                    <a class="btn btn-primary" href="{{ path("app_package_update", {
                                                        "id": package.id}) }}">
                                                        Update
                                                    </a>
                                                    <a class="btn btn-secondary" href="{{ path("app_package_view", {
                                                        "id": package.id}) }}">
                                                        View
                                                    </a>
                                                    <button class="btn btn-danger" type="submit">Delete</button>
                                                {% else %}
                                                    <a class="btn btn-primary" href="{{ path("app_package_view", {
                                                        "id": package.id}) }}">
                                                        View
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <p class="alert alert-warning"> No packages found</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
