{% extends 'base.html.twig' %}

{% block title %}Hello PackageController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1 class="text-center">{{ package.name }}</h1>
        <p class="text-center py-1"> Description: {{ package.description }}</p>
        <p class="text-center py-1"> Price: {{ package.price }}</p>
        {% if package.photo %}
            <div class="text-center">
                <img src="{{ package.photo }}" alt="A photo of the package" class="text-center py-1">
            </div>
        {% else %}
            <p class="text-center py-1"> This package has no photo </p>
        {% endif %}
        <p class="text-center py-1"> Created: {{ package.createdAt|date('Y-m-d H:i:s') }}</p>
        <p class="text-center py-1"> Category: {{ package.category.name }} </p>
        <p class="text-center py-1"> Business: <a href="{{ path('app_business_view',{
                'id' : package.business.id
            }) }}">
                {{ package.business.name }}
            </a>
        </p>
        <div class="text-center">
            <form action="{{ path('app_package_delete',{
                "id": package.id}
            ) }}" method="post">
                <div class="btn-group">
                    {% if editable %}
                        <a class="btn btn-primary" href="{{ path("app_package_update", {
                            "id": package.id}) }}">
                            Update
                        </a>
                        <a class="btn btn-secondary" href="{{ path("app_package") }}">
                            Back
                        </a>
                        <button class="btn btn-danger" type="submit">Delete</button>
                    {% else %}
                        <a class="btn btn-primary" href="{{ path("app_package") }}">
                            Back
                        </a>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
