{% extends 'base.html.twig' %}

{% block title %}Hello BusinessController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Business View</h1>
        <p> Id: {{ business.id }}</p>
        <p> Name: {{ business.name }}</p>
        <p> Address: {{ business.city }}, {{ business.street }} {{ business.houseNumber }}</p>
        <p> Phone: {{ business.phoneNumber }}</p>
        <p> Type: {{ business.businessType.name }}</p>
        <br>
        <h2>Packages: </h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Photo</th>
                <th>Created At</th>
                <th>Category</th>
            </tr>
            </thead>
            <tbody>
            {% for package in business.packages %}
                <tr>
                    <td>
                        <a href="{{ path("app_package_view", {
                            "id": package.id}) }}">
                            {{ package.id }}
                        </a>
                    </td>
                    <td>
                        {{ package.name }}
                    </td>
                    <td>
                        {{ package.description }}
                    </td>
                    <td>
                        {{ package.price }}
                    </td>
                    <td>
                        {% if package.photo %}
                            {{ package.photo }}
                        {% else %}
                            No photo
                        {% endif %}
                    </td>
                    <td>
                        {{ package.createdAt|date('Y-m-d H:i:s') }}
                    </td>
                    <td>
                        {{ package.category.name }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        <p>
            <a href="{{ path("app_package_new", {
                "id" : business.id
            }) }}">
                Create a new package for {{ business.name }}
            </a>
        </p>
        <p><a href="{{ path("app_business_update", {
                "id": business.id}) }}">
                Update
            </a></p>
        <p><a href="{{ path("app_business") }}"> Back </a></p>

    </div>
{% endblock %}
