{% extends 'base.html.twig' %}

{% block title %}Hello BusinessController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }

        .card {
            transition: transform 0.1s;
        }

        .card:hover {
            transform: translate(0, -3px) scale(1.05);
        }

        a {
            text-decoration: none;
            color: inherit;
        }
    </style>

    <div class="example-wrapper">
        <h1 class="text-center">{{ business.name }}</h1>
        <br>
        <p class="text-center py-1"> Address: {{ business.city }}, {{ business.street }} {{ business.houseNumber }}</p>
        <p class="text-center py-1"> Phone: {{ business.phoneNumber }}</p>
        <p class="text-center py-1"> Type: {{ business.businessType.name }}</p>
        <div class="text-center">
            <form action="{{ path('app_business_delete',{
                "id": business.id}
            ) }}" method="post">
                <div class="btn-group">
                    {% if is_granted('ROLE_BUSINESS') %}
                        <a class="btn btn-primary" href="{{ path("app_business_update", {
                            "id": business.id}) }}">
                            Update
                        </a>
                        <a class="btn btn-secondary" href="{{ path("app_business") }}">
                            Back
                        </a>
                    {% else %}
                        <a class="btn btn-secondary" href="{{ path("app_package") }}">
                            Back
                        </a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <button class="btn btn-danger" type="submit">Delete</button>
                    {% endif %}
                </div>
            </form>
        </div>
        <br>
        <h2 class="text-center">Packages: </h2>
        {% if is_granted('ROLE_BUSINESS') %}
            <div class="text-center">
                <a href="{{ path("app_package_new", {
                    "id" : business.id
                }) }}" class="btn btn-primary">
                    Add package
                </a>
            </div>
        {% endif %}
        <br>
        <div class="d-flex justify-content-center">
            <div class="container">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                    {% for package in business.packages %}
                        {% include 'package/card.html.twig' %}
                    {% else %}
                        <p class="alert alert-warning"> No packages found</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
