{% extends 'base.html.twig' %}

{% block title %}Hello BusinessController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <p> Id: {{ business.id }}</p>
        <p> Name: {{ business.name }}</p>
        <p> Address: {{ business.city }}, {{ business.street }} {{ business.houseNumber }}</p>
        <p> Phone: {{ business.phoneNumber }}</p>
        <p> Type: {{ business.businessType.name }}</p>

        <a href="{{ path("app_business") }}"> Back </a>
    </div>
{% endblock %}
