{% extends 'base.html.twig' %}

{% block title %}Hello BusinessController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1 class="text-center">Create a new Consumer</h1>
        <br>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-8">
                    {{ form_start(form) }}
                        {{ form_row(form.firstName) }}
                        {{ form_row(form.lastName) }}
                        {{ form_row(form.phoneNumber) }}
                        <div class="row">
                            <div class="col-sm-6 btn-group">
                                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success'}}) }}
                                <a href="{{ path('app_consumer') }}" class="btn btn-secondary">Cancel</a>
                            </div>
                        </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
