{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1 class="text-center">Order</h1>
        {% if is_granted('ROLE_CONSUMER') %}
            <p class="text-center py-1"><em> To create a new order, access the view page of a
                    <a href="{{ path('app_consumer') }}">consumer</a>.</em></p>
        {% endif %}
        <div class="d-flex justify-content-center">
            <table class="table table-striped">
                <thead>
                <tr class="table-primary">
                    <th class="text-center px-3">Actions</th>
                    <th class="text-center px-3 text-nowrap">Created At</th>
                    <th class="text-center px-3">Package</th>
                    <th class="text-center px-3">Consumer</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr class="table-secondary">
                        <td class="align-middle px-3">
                            <form action="{{ path('app_order_delete',{
                                "id": order.id}
                            ) }}" method="post">
                                <div class="btn-group">
                                    <a class="btn btn-primary" href="{{ path("app_order_update", {
                                        "id": order.id}) }}">
                                        Update
                                    </a>
                                    <a class="btn btn-secondary" href="{{ path("app_order_view", {
                                        "id": order.id}) }}">
                                        View
                                    </a>
                                    <button class="btn btn-danger" type="submit">Delete</button>
                                </div>
                            </form>
                        </td>
                        <td class="text-center px-3 align-middle">
                            {{ order.createdAt|date('Y-m-d H:i:s') }}
                        </td>
                        <td class="text-center px-3 align-middle">
                            <a href="{{ path('app_package_view',{
                                'id' : order.package.id
                            }) }}">
                                {{ order.package.name }}
                            </a>
                        </td>
                        <td class="text-center px-3 align-middle">
                            <a href="{{ path('app_consumer_view',{
                                'id' : order.consumer.id
                            }) }}">
                                {{ order.consumer.firstName }} {{ order.consumer.lastName }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
