{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1 class="text-center">Order</h1>
        <p class="text-center py-1"> Id: {{ order.id }}</p>
        <p class="text-center py-1"> Created: {{ order.createdAt|date('Y-m-d H:i:s') }}</p>
        <p class="text-center py-1"> Package: {{ order.package.name }}</p>
        <p class="text-center py-1"> Consumer: {{ order.consumer.firstName }} {{ order.consumer.lastName }}</p>
        <div class="text-center">
            <form action="{{ path('app_order_delete',{
                "id": order.id}
            ) }}" method="post">
                <div class="btn-group">
                    <a class="btn btn-primary" href="{{ path("app_order_update", {
                        "id": order.id}) }}">
                        Update
                    </a>
                    <a class="btn btn-secondary" href="{{ path("app_order") }}">
                        Back
                    </a>
                    <button class="btn btn-danger" type="submit">Delete</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
