{% extends 'base.html.twig' %}

{% block title %}Hello BusinessTypeController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Business Type Table</h1>
        <a href="{{ path('app_business_type_new') }}"> Create New BusinessType</a>
        <br>
        <table>
            <thead>
            <tr>
                <th>Actions</th>
                <th>Id</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            {% for businessType in businessTypes %}
                <tr>
                    <td>
                        <p>
                            <a href="{{ path("app_business_type_view", {
                                "id": businessType.id}) }}">
                                View
                            </a>
                        </p>
                        <p>
                            <a href="{{ path("app_business_type_update", {
                                "id": businessType.id}) }}">
                                Update
                            </a>
                        </p>
                        <p>
                            <form action="{{ path('app_business_type_delete',{
                                "id": businessType.id}
                            ) }}" method="post">
                                <button type="submit">Delete</button>
                            </form>
                        </p>
                    </td>
                    <td>
                        {{ businessType.id }}
                    </td>
                    <td>
                        {{ businessType.name }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
